.blog-main-container{
    height: 100vh;
    width: 100%;
}

.blog-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.blog-main-container h1{
    font-size: 50px !important;
    font-weight: bolder;
}

.btn-blog{
    background-color: #34024B;
    padding: 10px 20px;
}